{% extends 'base.html' %}
{% load static %}

{% block content %}

<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron jumbotron-fluid text-center bg-light py-5">
    <div class="container">
        <h1 class="display-3">Bienvenue chez Henri Shop</h1>
        <p class="lead">Découvrez une nouvelle dimension du shopping en ligne avec Henri Shop.</p>
        <p>Plongez dans un monde virtuel interactif et explorez une sélection exclusive de jeux vidéo, de consoles, de vêtements tendance et d'appareils électroniques dernier cri.</p>
        <p>Nous avons créé une expérience immersive pour vous offrir le meilleur du shopping en ligne.</p>
        <p>Rejoignez-nous dès maintenant et vivez l'expérience Henri Shop.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">En savoir plus &raquo;</a></p>
    </div>
</div>


  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>GAMING</h2>
        <img src="https://i.scdn.co/image/ab67706c0000da841e04037492a08afe5b3daefd" alt="Image 1">
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
    </div>

    <div class="col-md-4">
      <h2>CONSOLE</h2>
      <img src="https://www.reliancedigital.in/medias/Sony-Playstation-PS5-Slim-Digital-Console-494410333-i-1-1200Wx1200H-300Wx300H?context=bWFzdGVyfGltYWdlc3wyNjk0NHxpbWFnZS9qcGVnfGltYWdlcy9oZjAvaGViLzEwMTI1OTg3MTUxOTAyLmpwZ3wxNTkxZjg2MGE5ZWYwNjZlZTA0Zjg4ODY1Y2M1YjhiMTg2OGVjZGIzOTQ2OTc2NjY4NGY3YWI5ZDk2OWNhOTE4" alt="Image 1">
      <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
    </div>

    <div class="col-md-4">
      <h2>FASHION</h2>
      <img src="https://s3.amazonaws.com/www-inside-design/uploads/2018/10/workplace-attire-square-300x300.jpg" alt="Image 1">
      <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
    </div>  

    <hr>

  </div> <!-- /container -->

</main>

{% endblock %}