{% extends 'base.html' %}
{% block title %}Confirmation - Mon Super Panier{% endblock %}
{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body text-center">
                    <h3 class="card-title" style="color: #007bff;">Merci, {{ name }}</h3>
                    <p class="card-text" style="font-size: 18px; line-height: 1.6;">Nous avons bien reçu votre message et nous reviendrons vers vous dès que possible.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
